doctype
html
	head
		title #{title}
	body(style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
		table(width="600", style="border: none; padding: 5px;")
			tr(valign="top")
				td(width="600", style="padding: 0 0 10px 0")
					img(src="#{settings['server website']}/img/pladdy-logo-email.png", width="116", height="35", alt="#{settings['app title']}")
			tr(valign="top")
				td(width="600", style="vertical-align: middle")
					h3(style="color: #000000; margin: 0; padding: 0; font-size: 15px; line-height: 1.2em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
						|#{title}
			tr
				td(width="600", style="padding: 5px 0 10px 0")
					div(style="font-size: 12px; line-height: 1.4em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
						block content
						|<br>Grazie,<br>Il Team di #{settings['app title']}<br>
			tr
				td(width="600", style="padding: 10px 0 0 0; border-top: 1px solid #ccc")
					div(style="font-size: 10px; color: #999; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;")
						span Se hai ricevuto questo messaggio per errore e non sei iscritto a #{settings['app title']}, clicca <a href="#">non è il mio account</a><br><br>
						span Non rispondere a questo messaggio. E' inviato in modo automatico da un indirizzo che nessuno legge. Questo è un messaggio di servizio collegato al tuo utilizzo di #{settings['app title']}.
